
#first-block{
    background: #F6F1ED;
    display:flex;
}

#first-block .coffee{
    width: 750px;
    height: 500px;
    margin-left: 130px;
    margin-top: 50px;
    border-radius: 60px; 
    float:right;
}

#first-block .title{
    font-size: 65px;
    padding-top: 120px;
    text-align: left;
    margin-left: 80px;
    font-family: 'Consolas',sans-serif;
}

#first-block .w{
    border-radius:100px

}


.concept p{
    font-size: 50px;
    color:black;
    margin-left:300px;
    margin-top: 100px;
}
#second-block{
    background-color: #F6F1ED;
    display: flex;
}

#second-block .computer{
    width:350px;
    margin-left:50px;
    margin-top:100px;

    
}

#third-block{
    background-color:#F6F1ED ;
}

.w1{
    background-color: #F5E7DB;
    height:50px;
    padding-left: 25%;
    padding-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    font-size:20px;
}

.w11{
    border-radius: 30px;
    border: 20px;
}

.w2{
    background-color: #F5E7DB;
    height:50px;
    padding-left: 25%;
    padding-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    font-size:20px;



}

.w3{
    background-color: #F5E7DB;
    padding-left: 25%;
    margin-left: 20%;
    margin-right: 20%;
    font-size:20px;
    padding-top:15px;
    font-size: 15px;
    color:#CE8E5A;
}


